/*========================================================
          Sitewide Styles
==========================================================*/
/*multiple selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Aldrich', sans-serif;
  color: #b54938;
  background-color: #f1614b;
  text-align: center;
  margin-top: 0;
}

.comment-app {
  margin: 20px auto;
  max-width: 640px;
  width: 100%;
}

/*========================================================
          Display area
========================================================*/
/*changing text position*/
.time, .timer {
  margin: 10px;
  padding: 10px;
}


.timer button {

}

/*========================================================
          Digital Clock
========================================================*/
.analog-clock {
  margin-top: 30px;
}

svg{
  width: 200px;
  height: 200px;
}

#hr-hand, #min-hand, #sec-hand {
  stroke: black;
  stroke-linecap: round;
}

#hr-hand {
  stroke-width: 3px;
}

#min-hand {
  stroke-width: 2px;
}

#sec-hand {
  stroke-width: 1px;
}

svg text {
  fill: #b54938;
  font-size: 25px;
}
